* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: Arial, sans-serif;
    text-decoration: none;
}


body {
    background-color: black;
}

.nav-top {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(72, 72, 72, 0.37);
    padding-bottom: 3rem;
    animation-name: debut;
    animation-duration: 2s;
    animation-direction: alternate;
}

.nav-top img {
    width: 4%;
    margin-top: 2rem;
    margin-left: 10rem;
}

.nav2 {
    margin-top: 4.5rem;
    margin-left: 20rem;
    color: white;
    animation-name: debut;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes debut {
    from {
        font-size: 0rem;
    }
    to {
        font-size: 1rem;
    }
}

.nav2:hover {
    cursor: pointer;
}

.nav3 {
    margin-top: 4.5rem;
    margin-left: 10rem;
    color: white;
}

.nav3:hover {
    cursor: pointer;
}

.nav4 {
    margin-top: 4.5rem;
    margin-left: 10rem;
    color: white;
}

.nav4:hover {
    cursor: pointer;
}

.nav5 {
    margin-top: 4.5rem;
    margin-left: 10rem;
    color: white;
}

.nav5:hover {
    cursor: pointer;
}

.nav6 {
    margin-top: 3rem;
    margin-left: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 1rem;
    padding-top: 1.2rem;
}

.nav6 {
    text-decoration: none;
    border: 1px solid rgb(171, 171, 171);
    position: relative;
    overflow: hidden;
    color: white;
}

.nav6:hover {
    box-shadow: 1px 1px 10px 5px rgba(232, 232, 232, 0.4);
}

.nav6:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            120deg,
            transparent,
            rgba(197, 197, 197, 0.4),
            transparent
    );
    transition: all 650ms;
}

.nav6:hover:before {
    left: 100%;
}

.nav-top a button {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-top: 1.3rem;
    border: none;
    background-color: #000000;
}

.presentation {
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    margin-top: 5rem;
}

.img-presentation {
    position: absolute;
    border: white 1px solid;
    padding-right: 15%;
    padding-bottom: 30%;
    margin-left: 6rem;
}

.name {
    margin-left: 25rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
}

.title {
    margin-top: 6rem;
    font-size: 1.8rem;
    margin-left: 8rem;
    color: white;
    font-weight: normal;
    font-family: "Calibri Light", sans-serif;
}

#title {
    text-transform: uppercase;
    animation-name: color;
    animation-iteration-count: infinite;
}

@keyframes color {
    25% {
        color: #8e44ad;
        text-transform: uppercase;
    }
    50% {
        text-transform: uppercase;
        color: #c0392b;
    }
    75% {
        text-transform: uppercase;
        color: #16a085;
    }
    100% {
        text-transform: uppercase;
        color: #2c3e50;
    }
}

.paragraphe {
    font-family: "Amiri Quran", sans-serif;
    margin-top: 7rem;
    font-size: 1.2rem;
    color: white;
}

.paragraphe span {
    animation-name: color;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    text-transform: uppercase;
}

.footer span {
    margin-top: 7rem;
    display: flex;
    color: white;
    text-transform: uppercase;
    margin-left: 50%;
    font-weight: bold;
}

.img-footer {
    display: flex;
    margin-left: 46%;
    margin-top: 1rem;
}

.linkedin {
    width: 40%;
    margin-top: 1rem;
}

.github {
    width: 30%;
}

.title {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}